.container {
  background: blue;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  height: 600px;

  /* flex property */
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: column; */
}

.item-4 {
  color: red;
  background: black;
  align-self: flex-end;
}

.container > div {
  width: 70px;
  height: 70px;
  background: whitesmoke;
  border: grey solid 0.3px;

  /* flex property */
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-3 {
  order: -1;
  color: red;
  align-self: flex-start;
}

.item-4 {
  color: red;
  background: black;
  align-self: flex-end;
}
